.rubrica-visuale{
  display: flex;


}

h1{
  margin-left: 0.5em;
}

h2{
  margin-bottom: 0;
}



.registraContatto{
  margin-left: 1em;
}
.formaggiungiContatto{
  display: flex;
  flex-direction: column;
  margin-right: 1em;
  padding: 10px;
  width: 17em;
  border-radius: 5px;
}

.visualizzaContatti{
.table-div{
  border-radius: 5px;
  overflow: hidden;
}
table {
  width: 100%;
  border-radius: 10px;
}
}

.mat-cell {
  padding: 8px 8px 8px 0;
}



.registrationButton{
  display: none;

  }
  @media screen and (min-width: 1000px) {
    .registraContatto{
      display: block;
    }
      .registrationButton{
        display: none;

        }

  }
@media screen and (max-width: 1000px) {
  .registraContatto{
    display: none;
  }

  .registrationButton{
    display: block;
   }

   .visualizzaContatti{
     margin-left: 1em;
   }




}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width : 100vw;

}



